#help2 {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  margin-bottom: 35px;
}
.row_bg_wrap_help2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.inner_wrap_help2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.row_bg_help2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.dark_left_help2 {
  display: flex;
  flex-wrap: wrap;
  float: none;
  margin-bottom: 0 !important;
  z-index: 10;
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  position: relative;
}
.padding_phone_help2 {
  align-items: stretch;
  display: flex;
  background-color: transparent;
  float: none;
  background-position: center;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}
@media only screen and (min-width: 690px) {
  .padding_phone_help2 {
    width: 100%;
  }
}
.vc_column_inner_help2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  padding: calc(1245px * 0.02);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  top: 0;
}
.vc_column_inner_help2:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
.row_inner_help2 {
  margin-bottom: 24px;
  position: relative;
}
.row_left_help2 {
  display: flex;
  flex-wrap: wrap;
  float: none;
  margin-bottom: 0 !important;
  z-index: 10;
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  position: relative;
}
.column_container_help2 {
  margin-left: 0;
  float: none;
  margin-right: 0;
  padding-left: 1%;
  padding-right: 1%;
  background-position: center;
  position: relative;
  display: block;
}
@media only screen and (min-width: 690px) {
  .column_container_help2 {
    width: 83.3%;
  }
}
.vc_column_inner2_help2 {
  position: relative;
}
.img_wrapper_help2 {
  line-height: 0;
  margin-bottom: 0;
  width: 75px;
  display: inline-block;
  margin-right: 15px;
}
.inner_help2 {
  height: 100%;
}
.hover_wrap_help2 {
  opacity: 1;
  transition: all 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) !important;
  margin-bottom: 0;
  border-radius: 10px;
  overflow: visible;
  position: relative;
}
.hover_wrap_img_loaded {
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.africa_image {
  opacity: 1;
  transition: opacity 0.5s ease;
  transform: none;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  border-radius: 10px;
  display: block;
  min-height: 1px;
  min-width: 1px;
  max-width: 100%;
  height: auto;
  position: relative;
}
.column_right_help2 {
  float: none;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 1%;
  padding-right: 1%;
  text-align: right;
  background-position: center;
  position: relative;
  display: block;
}
@media only screen and (min-width: 690px) {
  .column_right_help2 {
    width: 16.7%;
  }
}
.nectar_icon_wrap_help2 {
  margin-bottom: 0;
  display: inline-block;
  position: relative;
}
.nectar_icon_help2 {
  padding: 12px;
  border: 0;
  line-height: 0;
  text-align: center;
  border-radius: 150px;
  position: relative;
  transition: background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1),
    border-color 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}
.nectar_icon_help2::before {
  background-color: #3b5998;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  display: block;
  border-radius: 100px;
  z-index: -1;
  opacity: 0.11;
  text-align: center;
}
.facebook_icon_a_help2 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.content_row_help2 {
  margin-bottom: 0;
  position: relative;
}
.content_wrapper_help2 {
  display: flex;
  flex-wrap: wrap;
  float: none;
  margin-bottom: 0 !important;
  z-index: 10;
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  position: relative;
}
.padding_phone_content_help2 {
  display: flex;
  float: none;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  align-items: stretch;
  background-position: center;
}
@media only screen and (min-width: 690px) {
  .padding_phone_content_help2 {
    width: 100%;
  }
}
.vc_column_inner_content_help2 {
  justify-content: flex-end;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.vc_custom_heading_help2 {
  font-size: 20px;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 7px;
}
.wpb_content_element_help2 {
  margin-bottom: 0;
}
