#features {
  position: relative;
  padding-top: calc(100vw * 0.02);
  padding-bottom: calc(100vw * 0.02);
  margin-bottom: 0;
  --scroll-bar-w: 13px;
  margin-left: calc(-50vw + var(--scroll-bar-w) / 2);
  left: 50%;
  width: calc(100vw - var(--scroll-bar-w));
}
.row_bg_wrap_hom {
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  --scroll-bar-w: 13px;
  margin-left: calc(-50vw + var(--scroll-bar-w) / 2);
  left: 50%;
  width: calc(100vw - var(--scroll-bar-w));
}
.wrapper_using_image {
  transform: scale(1) translateZ(0);
  transition: transform 0.95s 0s cubic-bezier(0.3, 0.58, 0.42, 0.9);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.using_image_color {
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #fd1742;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.dark_left_hom {
  color: #fff;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  float: none;
  margin-bottom: 0 !important;
  z-index: 10;
  width: auto;
  position: relative;
}
.padding_phone_hom {
  margin-left: 0;
  align-items: stretch;
  display: flex;
  float: none;
  margin-right: 0;
  padding: 0;
  background-position: center;
  position: relative;
}
@media (min-width: 690px) {
  .padding_phone_hom {
    width: 8.3%;
  }
}
.vc_column_inner_hom {
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.wpb_wrapper_hom {
  min-height: 1px;
  margin: 0;
}
.padding_phone_hom2 {
  margin-left: 0;
  align-items: stretch;
  display: flex;
  float: none;
  margin-right: 0;
  padding: 0;
  background-position: center;
  position: relative;
}
@media (min-width: 690px) {
  .padding_phone_hom2 {
    width: 25%;
  }
}
.vc_column_inner_hom2 {
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: calc(100vw * 0.02);
  position: relative;
}
.wpb_wrapper_hom2 {
  min-height: 1px;
  margin: 0;
  color: #fff;
}
.inner_row_hom2 {
  margin: 0;
  position: relative;
}
.row_bg_wrap_hom2 {
  margin-left: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  color: #fff;
}
.row_bg_hom2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.row_right_hom2 {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  float: none;
  margin-bottom: 0 !important;
  z-index: 10;
  text-align: right;
  position: relative;
}
.container_hom2 {
  opacity: 1;
  transform: none;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: none;
  margin-right: 0;
  background-position: center;
  background-size: cover;
  position: relative;
  display: block;
}
@media (min-width: 690px) {
  .container_hom2 {
    width: 100%;
  }
}
