#footer_outer {
  color: #191c1f !important;
  background-color: #f3f6f8 !important;
  position: relative;
  z-index: 10;
}
#copyright {
  border: none;
  background-color: #f3f6f8;
  font-size: 15px;
  color: #777;
}
.footer_outer_row {
  display: block;
  margin-bottom: 0;
  position: relative;
}
.container_footer2 {
  margin: 0 auto;
  position: relative;
}
@media only screen and(min-width: 1300px) {
  .container_footer2 {
    max-width: 1100px;
  }
}
.column1 {
  display: block;
  width: 100%;
  text-align: center;
  z-index: 10;
  min-height: 1px;
  position: relative;
  float: left;
}
@media (min-width: 690px) {
  .column1 {
    margin-right: 2%;
  }
}
.column1 p {
  color: #191c1f;
  line-height: 22px;
  font-size: 15px;
  margin: 20px;
}
.column1 a {
  color: #191c1f !important;
}
.column2 {
  display: block;
  margin-bottom: 0;
  z-index: 10;
  min-height: 1px;
  margin-right: 0;
  position: relative;
  float: left;
}
@media only screen and(min-width: 690px) {
  .column2 {
    width: 57.5%;
  }
}
.social {
  float: right;
  margin: 0;
  list-style: none;
}
