@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#header_outer {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px 0 0 0;
  overflow: visible;
  z-index: 9999;
  border-bottom-color: transparent;
  background-color: rgba(255, 255, 255, 100);
}
@media only screen and (min-width: 1000px) {
  #header_outer {
    padding-top: 0;
  }
}

#header_outer_scrolled {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px 0 20px 0;
  background-color: #fff;
  border-bottom-color: transparent;
  z-index: 9999;
  overflow: visible;
  background-color: rgba(255, 255, 255, 100);
}
@media only screen and (min-width: 1000px) {
  #header_outer_scrolled {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 900px) {
  #header_outer_scrolled {
    padding-top: 30px;
    height: 10%;
  }
}
#header_outer_scrolled .container {
  transition: box-shadow 0.42s ease, opacity 0.3s ease;
  margin: -10px auto;
  position: relative;
}
#top {
  position: relative;
  z-index: 9998;
  width: 100%;
}

.container {
  margin: 0px auto;
  position: relative;
}
@media only screen and (min-width: 1300px) {
  .container {
    max-width: 1100px;
  }
}

.row {
  position: relative;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
@media only screen and (min-width: 1000px) {
  .row {
    display: flex;
  }
}

.logo {
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .logo {
    display: flex;
    float: none;
    width: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .logo {
    display: flex;
    float: none;
    width: auto;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 1000px) {
  #logo {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
  }
}
#top #logo {
  width: auto;
  max-width: none;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: -1px;
  color: #444;
  font-family: "Open Sans";
  font-weight: 600;
  align-self: center;
}

#logo,
.logo-spacing {
  transition: margin 0.32s ease, color 0.32s ease;
}
#header-outer #logo img {
  height: 50px;
}
#top #logo img {
  text-indent: -9999px;
  max-width: none;
  width: auto;
  margin-bottom: 0;
  display: block;
}

.menu {
  display: flex;
  float: none;
  width: auto;
  vertical-align: baseline;
  position: static;
  margin-right: 0;
  justify-content: space-between;
}
@media only screen and (min-width: 1000px) {
  .menu {
    display: flex;
    float: none;
    width: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .menu {
    display: flex;
    padding-right: 30px;
    justify-content: space-between;
  }
}

.widget-area {
  display: none;
  z-index: 10000;
}
nav {
  display: flex;
}
@media only screen and (min-width: 1000px) {
  .menu_nav {
    display: flex;
  }
}
@media only screen and (min-width: 1000px) {
  nav {
    display: flex;
  }
}

#top nav > ul {
  overflow: visible;
  transition: padding 0.8s ease, margin 0.25s ease;
  min-height: 1px;
  line-height: 1px;
}

@media only screen and (min-width: 1px) and (max-width: 999px) {
  #header-outer #top nav > ul {
    width: auto;
    padding: 15px 0 25px 0;
    margin: 0 auto 0 auto;
    z-index: 100000;
    position: relative;
  }
}

#top nav > ul > li {
  display: flex;
}

@media only screen and (min-width: 1000px) {
  #top nav > ul li {
    display: flex;
    margin-left: 0;
  }
}

.sf-menu {
  display: flex;
  list-style: none outside none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  z-index: 10;
  float: none;
  overflow: visible;
  transition: padding 0.8s ease, margin 0.25s ease;
  min-height: 1px;
  line-height: 1px;
  list-style: none outside none;
  padding: 0;
  z-index: 10;
}
.sf-menu li {
  outline: 0 none;
  line-height: 0;
  font-size: 15px;
  align-items: center;
  display: flex;
  float: left;
  list-style: none;
}
#top nav > ul > li > a {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  padding: 0 10px 0 10px;
  display: block;
  width: auto;
}
li a {
  position: relative;
  text-decoration: none;
  outline: 0 none;
  color: #191c1f;
  opacity: 1;
}

li a:hover:after {
  border-bottom: solid 3px #ea2129;
}
.menu_item1 {
  display: flex;
  align-items: center;
  float: left;
  list-style: none;
  outline: 0 none;
  line-height: 0;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}

.sub_menu {
  display: none;
}
.sub_menu2 {
  display: none;
}
.menu_item2 {
  display: inline-block;
}
.menu_item2:hover .sub_menu {
  border-radius: 20px;
  padding: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 100) !important;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  left: 0;
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 100%;
  list-style: none outside none;
  margin: 0;
  z-index: 10;
  color: #191c1f;
}
#header_outer_scrolled .menu_item2:hover .sub_menu {
  top: 90%;
}
.menu_item3 {
  display: inline-block;
}
.menu_item3:hover .sub_menu2 {
  border-radius: 20px;
  padding: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 100) !important;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  left: 0;
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 100%;
  list-style: none outside none;
  margin: 0;
  z-index: 10;
  color: #191c1f;
}
#header_outer_scrolled .menu_item3:hover .sub_menu2 {
  top: 90%;
}
/* .sub_menu li {
  display: flex;
  float: none;
  width: 25%;
  flex: none;
  padding: 0;
  border: none;
  background-size: cover;
  background-position: center;
  outline: 0 none;
  line-height: 5;
  position: relative;
  margin: 0;
  z-index: 10;
} */
/* .sub_menu2 li {
  display: flex;
  float: none;
  width: 25%;
  flex: none;
  padding: 0;
  border: none;
  background-size: cover;
  background-position: center;
  outline: 0 none;
  line-height: 5;
  position: relative;
  margin: 0;
  z-index: 10;
} */
.business_left {
  width: 25%;
  flex: none;
  padding: 0;
  background-size: cover;
  display: block;
  float: none;
  border: none;
  transform: translate3d(0, 0, 0);
  list-style: none;
  outline: 0 none;
  line-height: 0px;
  position: relative;
  margin: 0;
  z-index: 10;
  cursor: pointer;
}
.company_left {
  width: 25%;
  flex: none;
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-image: url("https://www.gmeremit.com/wp-content/uploads/2023/01/DSC03958-Edited-3-1024x671.jpg");
  display: block;
  float: none;
  border: none;
  transform: translate3d(0, 13px, 0);
  list-style: none;
  outline: 0 none;
  line-height: 0px;
  position: relative;
  margin: 0;
  z-index: 10;
  cursor: pointer;
}
.business_left:hover {
  cursor: pointer;
}
#menu-item-16863 {
  width: 25%;
  flex: none;
  padding: 0;
  background-size: cover;
  background-position: center;
  display: block;
  float: none;
  font-size: 12px;
  font-weight: normal;
  outline: 0 none;
  line-height: 0;
  position: relative;
  margin: 0;
  z-index: 10;
}
.business_left a {
  padding: 40px !important;
  margin-bottom: 0;
  font-family: Poppins;
  text-transform: none !important;
  font-size: 16px;
  font-weight: 400;
  color: #444444 !important;
  background-color: transparent !important;
  border-bottom: none;
  line-height: 30px;
  transition: none;
  letter-spacing: 0;
  outline: 0 none;
  margin: 0;
  display: block;
  position: relative;
  text-decoration: none;
  z-index: 10;
}
.business_left_banner {
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 400px;
  display: flex;
  text-align: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.business_left_banner::after {
  transition: opacity 1s ease;
}
.business_left_banner:hover .business_left_image_layer_loaded {
  transition: opacity 0.25s ease 0.1s;
}
.business_left_inner_content:hover {
  border-radius: 10px;
  transform: translateY(-4px) scale(1.1);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
}
/* .business_left_banner:hover .business_left_inner_content {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  text-decoration-style: double;
  opacity: 1.2;
  background-color: transparent;
} */
.business_left_image_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
  text-align: left;
  cursor: pointer;
}
.business_left_image_layer_loaded {
  background-image: url("https://www.gmeremit.com/wp-content/uploads/2021/08/digital-design-businessman-trading-online-stock-market-teblet-screen.jpg");
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
  text-align: left;
  cursor: pointer;
}
.business_left_image_layer_loaded2 {
  background-image: url("https://www.gmeremit.com/wp-content/uploads/2023/01/DSC03958-Edited-3-1024x671.jpg");
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: opacity 0.25s ease 0.1s;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
  text-align: left;
  cursor: pointer;
}
.business_left_color_overlay {
  background: linear-gradient(360deg, transparent, #f6653c);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity 0.5s cubic-bezier(0.15, 0.75, 0.5, 1);
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
}
.business_left_inner_content {
  position: relative;
  z-index: 10;
  width: 100%;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  cursor: pointer;
}
.title_business {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none !important;
  color: #444444 !important;
}
.title_menu {
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-image: linear-gradient(to right, #825cff 0%, #825cff 100%);
  transition: background-size 0.55s cubic-bezier(0.2, 0.75, 0.5, 1);
  background-position: left bottom;
  font-family: Poppins;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
  cursor: pointer;
}
.title_menu:hover {
  cursor: pointer;
}
.business_solutions {
  padding: 30px;
  float: none;
  width: 25%;
  flex: none;
  display: block;
  flex-direction: column;
  border: none;
  background-size: cover;
  background-position: center;
  outline: 0 none;
  line-height: 0;
  position: relative;
  list-style: none;
  outline: 0 none;
  line-height: 0;
  font-size: 12px;
  position: relative;
  transform: translate3d(0, 13px, 0);
}
.business_solutions_a {
  font-family: Poppins;
  text-transform: none !important;
  font-size: 16px;
  font-weight: 400;
  color: #444444 !important;
  background-color: transparent !important;
  line-height: 30px;
  transition: none;
  letter-spacing: 0;
  outline: 0 none;
  display: block;
  position: relative;
  flex-direction: row;
  text-decoration: none;
  list-style: none outside none;
  z-index: 10;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  padding: 10px 10px;
}
.menu-title-text {
  position: relative;
  list-style: none outside none;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  z-index: 10;
  text-transform: none !important;
}
.menu-title-text:hover {
  color: red;
  border-bottom: solid 3px #ea2129;
}
.nectar-menu-item-with-icon2 {
  border-bottom: none;
  padding: 10px 10px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  transition: none;
  letter-spacing: 0;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  outline: 0 none;
  position: relative;
  text-decoration: none;
  list-style: none outside none;
  z-index: 10;
  cursor: pointer;
}

.menu_title_text2 {
  color: #333;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.menu_title_text2::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: blue;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.sub-menu-li:hover {
  border-radius: 10px;
  transform: translateY(-4px) scale(1.1);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
}
/* .nectar-menu-item-with-icon2:hover .menu_title_text2 {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  text-decoration-style: double;
}
.nectar-menu-item-with-icon3:hover .menu_title_text2 {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  text-decoration-style: double;
} */
.sub-menu {
  border-top: 0;
  border-radius: 20px;
  background-color: transparent !important;
  display: block;
  top: 0 !important;
  width: 100%;
  opacity: 1 !important;
  left: 0 !important;
  box-shadow: none;
  position: relative;
  margin: 0;
  padding: 0;
  transform: none;
  z-index: auto;
  transition: transform 0.25s, opacity 0.25s;
}
.sub-menu-li {
  float: none;
  list-style: none;
  font-size: 12px;
  width: 90%;
  outline: 0 none;
  line-height: 0;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.menu_item_desc {
  margin-top: 0.4rem;
  color: #fff;
  display: block;
  line-height: 1.4em;
  position: relative;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
  text-align: left;
  cursor: pointer;
}
.menu-item-16718 {
  float: none;
  list-style: none;
  font-size: 12px;
  width: 100%;
  outline: 0 none;
  line-height: 0;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 10;
}
.nectar-menu-item-with-icon {
  border-bottom: none;
}

.nectar-menu-item-with-icon3 {
  border-bottom: none;
  padding: 10px 10px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  transition: none;
  letter-spacing: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  outline: 0 none;
  position: relative;
  text-decoration: none;
  list-style: none outside none;
  z-index: 10;
  cursor: pointer;
}
.icon_image {
  margin-right: 15px;
  width: 40px;
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0;
  max-height: 200px;
  height: auto;
  vertical-align: middle;
  transition: opacity 0.2s ease 0.05s;
  max-width: 100%;
}
.icon_image2 {
  margin-right: 15px;
  width: 30px;
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0;
  max-height: 200px;
  height: 30px;
  vertical-align: middle;
  transition: opacity 0.2s ease 0.05s;
  max-width: 100%;
}
.developers {
  padding: 20px;
  float: none;
  width: 25%;
  flex: none;
  display: flex;
  flex-direction: column;
  border: none;
  background-size: cover;
  background-position: center;
  outline: 0 none;
  line-height: 0;
  position: relative;
  list-style: none;
  outline: 0 none;
  line-height: 0;
  font-size: 12px;
  position: relative;
  transform: translate3d(0, 13px, 0);
}
.nectar-menu-icon-text {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
  visibility: visible;
  width: 150px;
}
.menu_title_text {
  display: inline;
  position: relative;
  list-style: none outside none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  color: #4c4c4c !important;
}
.platform {
  padding: 30px;
  float: none;
  width: 25%;
  flex: none;
  display: flex;
  flex-direction: column;
  border: none;
  background-size: cover;
  background-position: center;
  outline: 0 none;
  line-height: 0;
  position: relative;
  list-style: none;
  outline: 0 none;
  line-height: 0;
  font-size: 12px;
  position: relative;
  transform: translate3d(0, 13px, 0);
}
.nectar_image_above_text {
  flex-direction: column;
  display: flex;
  text-align: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative;
}
.image_layer_outer_hover {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
}
.image_layer_loaded {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: opacity 0.25s ease 0.1s;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
}
.color_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity 0.5s cubic-bezier(0.15, 0.75, 0.5, 1);
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
}
.inner_content {
  position: relative;
  z-index: 10;
  width: 100%;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.title_inherit {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.careers {
  padding: 20px 0px 20px 20px;
  width: 10%;
  background-size: cover;
  background-position: center;
  display: block;
  flex: 1;
  float: none;
  border: none;
  transform: translate3d(0, 13px, 0);
  margin: 0;
  z-index: 5;
  flex-direction: column;
  list-style: none;
  outline: 0 none;
  line-height: 0;
  font-size: 12px;
  position: relative;
}
.MobileHeader {
  display: none;
}
.hamburger {
  display: none;
}
@media only screen and (max-width: 999px) {
  .hamburger {
    cursor: pointer;
    width: 2rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    float: left;
    z-index: 10;
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: 200;
  }
}
@media only screen and (max-width: 999px) {
  .fullscreen_mobile {
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 1;
    padding: 0 !important;
    display: block;
    background-color: transparent;
    color: #191c1f;
    position: fixed;
    z-index: 9996;
  }
  .bg_inner_mobile {
    background-color: #2e3049;
    width: 100%;
    height: 100%;
  }
  .MobileHeader {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    right: auto;
    left: 0;
    z-index: 9999;
    background-color: transparent !important;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
    box-sizing: content-box;
    color: #654cc4;
  }
  .inner_wrap_mobile {
    padding-top: 35px;
    height: 100%;
    margin-right: -15px;
    display: flex;
    flex-direction: column;
  }
  .inner_mobile {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    padding: 30px 0;
    text-align: center;
    color: #654cc4;
  }
  .container_mobile {
    opacity: 1;
    margin: 0;
    padding: 0 10%;
    display: block;
  }
  .menu_wrap_menuwrapper {
    height: 280px;
    position: relative;
    perspective: 1000px;
    perspective-origin: center;
    margin-right: 0;
    display: block;
  }
  .menuopen {
    transform: translate(0px, 0px);
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    position: relative;
    width: 100%;
    padding: 0;
    list-style: none;
    transform-style: preserve-3d;
  }
  .menu_item {
    transform: translate(0px, 0px);
    opacity: 1;
    margin: 0 0 8px 0;
    position: relative;
    list-style: none;
    cursor: pointer;
    z-index: 9999;
  }
  .menu_page {
    cursor: pointer;
    font-size: 25.2px !important;
    line-height: 21.6px !important;
    transition: color 0.2s;
    display: inline-block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: -1px;
    padding: 6px 20px;
    color: #fff;
    outline: none;
    text-decoration: none;
    z-index: 9999;
  }
  .sub_menu_mobile_close {
    margin: 0 !important;
    padding: 0 !important;
    display: none;
    list-style: none;
    transform-style: preserve-3d;
  }
  .sub_menu_mobile_open {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    transform-style: preserve-3d;
  }
}
.lang_menu {
  display: none;
}
.menu_item1:hover .lang_menu {
  border-radius: 20px;
  flex-direction: column;
  padding: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 100) !important;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 250%;
  height: 100%;
  left: 0;
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 70%;
  list-style: none outside none;
  margin: 0;
  z-index: 10;
  color: #191c1f;
}
/* .lang_menu {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 100) !important;
  width: 10em;
  font-family: Poppins;
  text-transform: none !important;
  font-size: 16px;
  font-weight: 400;
  color: #444444 !important;
  background-color: transparent !important;
  transition: none;
  letter-spacing: 0;
  outline: 0 none;
  display: block;
  position: relative;
  flex-direction: row;
  text-decoration: none;
  list-style: none outside none;
  z-index: 10;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  padding: 10px 5px;
} */
select.lang_menu {
  cursor: pointer;
  border: none;
  color: red;
  padding: 0 5px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  border-bottom: solid 3px #ea2129;
  text-align: center;
}
select.lang_menu option {
  cursor: pointer;
  color: #000;
  padding: 0 10px;
}
.lang {
  padding: 10px;
  float: none;
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: column;
  border: none;
  background-size: cover;
  background-position: center;
  outline: 0 none;
  line-height: 0;
  position: relative;
  list-style: none;
  outline: 0 none;
  line-height: 0;
  font-size: 12px;
  position: relative;
  transform: translate3d(0, 13px, 0);
}
.lang_name {
  padding-left: 5px;
}
