#workshop {
  padding-top: 0px;
  padding-bottom: 0px;
  --scroll-bar-w: 13px;
  margin-left: calc(-50vw + var(--scroll-bar-w) / 2);
  left: 50%;
  width: calc(100vw - var(--scroll-bar-w));
  margin-bottom: 0;
  position: relative;
}
.row_bg_wrap_workshop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.inner_wrap_workshop {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.row_bg_workshop {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.dark_left_workshop {
  color: #191c1f;
  margin: 0;
  display: flex;
  float: none;
  margin-bottom: 0 !important;
  z-index: 10;
  width: auto;
  position: relative;
}
.padding_left_workshop {
  margin-left: 0;
  align-items: stretch;
  display: flex;
  padding: 0;
  float: none;
  margin-right: 0;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media only screen and (min-width: 690px) {
  .padding_left_workshop {
    width: 50%;
  }
}
.vc_column_inner_workshop {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  padding: calc(100vw * 0.1);
  position: relative;
}
.column_wrap_workshop {
  opacity: 1;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: " ";
  display: block;
}
.column_overlay_workshop {
  opacity: 1;
  background-color: #f4f4f4;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: " ";
  display: block;
}
.wpb_wrapper_workshop {
  min-height: 1px;
  margin: 0;
  position: relative;
  z-index: 2;
}
.row_inner_workshop {
  margin: 0;
}
.row_bg_wrap_left_workshop {
  margin-left: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.row_bg_left_workshop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.row_inner_left_workshop {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  float: none;
  margin-bottom: 0 !important;
  z-index: 10;
  width: auto;
  position: relative;
}
.container_left_workshop {
  opacity: 1;
  transform: none;
  float: none;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
  display: block;
}
@media only screen and (min-width: 690px) {
  .container_left_workshop {
    width: 100%;
  }
}
.vc_column_inner_left_workshop {
  position: relative;
}
.vc_custom_heading_workshop {
  font-size: 40px;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 7px;
  line-height: 1.25 !important;
}
.vc_custom_content_workshop {
  color: rgba(10, 10, 10, 0.6);
  text-align: left;
  padding-bottom: 0;
}
.padding_right_workshop {
  min-height: auto;
  float: none;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  align-items: stretch;
  display: flex;
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media only screen and (min-width: 690px) {
  .padding_right_workshop {
    width: 50%;
  }
}
.vc_column_inner_right_workshop {
  min-height: auto;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.column_img_wrap_workshop {
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.inner_wrap_workshop {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.column_image_loaded_workshop {
  background-image: url("https://www.gmeremit.com/wp-content/uploads/2023/02/2022-12-06-11.08.00-scaled.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease 0.2s;
}
